@import 'reset';
/*-------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- MIXINS --------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

@mixin transform-origin($x-value:center, $y-value:center) {
    -webkit-transform-origin: $x-value $y-value;
    -moz-transform-origin: $x-value $y-value;
    -ms-transform-origin: $x-value $y-value;
    -o-transform-origin: $x-value $y-value;
    transform-origin: $x-value $y-value;
}

@mixin transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
    transform: $value;
}
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- PAGE COLORS ---------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/* 
#2A2B30 velvet black rgba(31, 32, 36, 0.8);
#24252a dar velvet black
rgb(92, 94, 220) purple
rgb(230, 233, 240) codrops light gray
*/

$fixed-navbar-background: rgba(31, 32, 36, 1);
$sidebar-background: rgba(31, 32, 36, 0.4);
$header-background: rgba(31, 32, 36, 0.8);
$main-section-background: rgba(233, 234, 240, 1);
$footer-background: rgba(233, 234, 240, 1);
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- DEVICE WIDTHS -------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

$mobile-width: 600px;
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*----------------------------------------- CONTAINER STYLING  ------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: 'Manifesto';
    src: url(../fonts/manifesto.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/raleway.ttf) format('truetype');
}

body {
    background-image: url('../img/stars_9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    /*-------------------------------------------------------------------------------------------------*/
    /*----------------------------------------- MAIN NAVBAR STYLING -----------------------------------*/
    /*-------------------------------------------------------------------------------------------------*/
    
    perspective: 500px;
    .main_body_container {
        overflow: scroll;
        transition: .3s all ease-out;
        .fixed_navbar {
            position: fixed;
            top: 0;
            width: 100%;
            height: 60px;
            background: $fixed-navbar-background;
            box-shadow: 3px 0px 10px 1px rgba(0, 0, 0, 0.5);
            text-align: center;
            .logo {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-image: url("../img/logo_2.png");
                background-size: 50px;
                background-repeat: no-repeat;
                margin: 5px auto 0px;
                border: 1px solid white;
                background-position-x: -2px;
            }
            .navbar_menu_entry {
                position: absolute;
                top: 20px;
                left: 15px;
                background: url(../img/icons/menu.png);
                cursor: pointer;
            }
            @media screen and (min-width: $mobile-width + 1) {
                .navbar_menu_entry {
                    display: none;
                }
            }
        }
        /*-------------------------------------------------------------------------------------------------*/
        /*-------------------------------------------------------------------------------------------------*/
        /*--------------------------------------------- REST OF BODY --------------------------------------*/
        /*-------------------------------------------------------------------------------------------------*/
        
        .rest_of_body {
            /*-------------------------------------------------------------------------------------------------*/
            /*-------------------------------------------- HEADER STYLING -------------------------------------*/
            /*-------------------------------------------------------------------------------------------------*/
            
            header {
                height: 500px;
                margin-top: 60px;
                position: relative;
                z-index: -1;
                color: white;
                font-family: 'Manifesto';
                background: $header-background;
                .show_case {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    box-sizing: border-box;
                    text-transform: uppercase;
                    padding-top: 200px;

                    .name_container {
                        .name {
                            font-size: 3rem;
                            font-weight: bold;
                        }
                        .first {
                            margin-right: 30px;
                        }
                        .second {}
                    }
                    .profession_container {
                        margin-top: 5px;
                        .dot {
                            width: 5px;
                            height: 5px;
                            background-color: white;
                            display: inline-block;
                            border-radius: 50%;
                        }
                    }
                }
            }
            /*-------------------------------------------------------------------------------------------------*/
            /*-------------------------------------------------------------------------------------------------*/
            /*-------------------------------------------- MAIN SECTION ---------------------------------------*/
            /*-------------------------------------------------------------------------------------------------*/
            
            .main_section {
                background: $main-section-background;
                height: 500px;
            }
            /*-------------------------------------------------------------------------------------------------*/
            /*-------------------------------------------------------------------------------------------------*/
            /*-------------------------------------------- FOOTER STYLING -------------------------------------*/
            /*-------------------------------------------------------------------------------------------------*/
            
            footer {
                background: $footer-background;
                height: 100px;
            }
        }
    }
    /*-------------------------------------------------------------------------------------------------*/
    /*-------------------------------------------------------------------------------------------------*/
    /*------------------------------------------------ SIDE BAR ---------------------------------------*/
    /*-------------------------------------------------------------------------------------------------*/
    
    .sidebar {
        position: fixed;
        color: white;
        font-family: 'Manifesto';
    }
    @media screen and (max-width: $mobile-width) {
        .sidebar {
            width: 100%;
            height: 100%;
            left: -100%;
            top: 0px;
            background: rgba(0, 0, 0, 0.1);
            transition: .5s all ease-out;
            .side_menu {
                width: 60%;
                height: 100%;
                background: $sidebar-background;
                box-shadow: 3px 0px 10px 1px rgba(0, 0, 0, 0.5);
                //border-right: 3px solid white;
                position: relative;
                .navbar_menu_back_button {
                    display: block;
                    float: right;
                    background-image: url(../img/icons/multiply.png);
                    margin: 10px;
                    cursor: pointer;
                    height: 30px !important;
                    width: 30px !important;
                    background-size: 30px !important;
                    margin-bottom: 50px;
                }
                .navbar_item_icon {
                    margin-right: 15px;
                    vertical-align: sub;
                }
                ul {
                    position: relative;
                }
                .navbar_items {
                    position: absolute;
                    display: block;
                    height: 50px;
                    box-sizing: border-box;
                    width: 100%;
                    @include transform-origin(left, center);
                    @include transform(rotateY(90deg));
                    padding: 10px 15px;
                    transition: .3s all linear;
                }
                .sidebar_list_left {
                    margin-top: 30px;
                    clear: both;
                    .navbar_items:nth-child(1) {
                        top: 0px;
                    }
                    .navbar_items:nth-child(2) {
                        top: 50px;
                    }
                }
                .sidebar_list_right {
                    .navbar_items:nth-child(1) {
                        top: 100px;
                    }
                    .navbar_items:nth-child(2) {
                        top: 150px;
                    }
                }
            }
        }
    }
    @media screen and (min-width: $mobile-width + 1) {
        .sidebar {
            width: 100%;
            height: 60px;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0);
            box-shadow: 3px 0px 10px 1px rgba(0, 0, 0, 0.2);
            .side_menu {
                .navbar_menu_back_button {
                    display: none;
                }
                .navbar_item_icon {
                    display: none;
                }
                ul {
                    margin: 16px 0px;
                }
                .navbar_items {
                    display: inline-block;
                    padding: 0px 15px;
                    line-height: 30px;
                    font-size: 20px;
                }
                .sidebar_list_left {
                    width: 45%;
                    float: left;
                    .navbar_items {
                        float: right;
                    }
                }
                .sidebar_list_right {
                    width: 45%;
                    float: right;
                    .navbar_items {}
                }
            }
        }
    }
}
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- GENERAL -------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 20px 20px !important;
    background-repeat: no-repeat;
}

.about_icon {
    background-image: url(../img/icons/user_1.png);
}

.projects_icon {
    background-image: url(../img/icons/projects.png);
}

.blog_icon {
    background-image: url(../img/icons/blog.png);
}

.contact_icon {
    background-image: url(../img/icons/contact.png);
}
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*--------------------------------------------- ACTIONS -------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/

.push_back {
    pointer-events: none;
    @include transform-origin(right, center);
    @include transform(translateX(100px) rotateY(-25deg) scale(0.7));
}

.sidebar_show {
    left: 0px !important;
}

.navbar_item_reveal {
    @include transform(rotateY(0deg) !important);
}
/*-------------------------------------------------------------------------------------------------*/
